html {
  height: 100%;
}
body {
    background-color:twhite;
	height: auto;
	font-family: "Century Gothic";
}
.container{
	height: inherit;
	background-color: ghostwhite;
}
.title{
	text-align: center;
	display: inline-block;

}
#canvas{
/*	display: inline-block;*/
/*	margin: 0 auto;*/
	margin-left:270px;
}
.rules{
	text-align: justify;
}
.footer{
	background-color: ghostwhite;
}
