html {
  height: 100%;
}
body {
    background-color:"twhite";
	height: auto;
	font-family: "Century Gothic";
}
.container{
	height: inherit;
	background-color: ghostwhite;
}
.title{
	text-align: center;
	display: inline-block;

}
#canvas{
	display:none;
}
.rules{
	text-align: justify;
}
.footer{
	background-color: ghostwhite;
}

#footer_ul{
	list-style-type: none;
}

.playing_space{
	height: 800px;
}

#name_set{
	
}

#lobby_set{
	display:none;
}

#lobby_list{
	border-top: 1px solid black;
	width:100%;
	color: blue;
	
}

.error{
	background-color: red;
	color: white;
	text-align: center;
	display: block;
}